<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apworks" version="2.5.4878.35266" targetFramework="net45" userInstalled="true" />
  <package id="Apworks.Repositories.EntityFramework" version="2.5.4878.35266" targetFramework="net45" userInstalled="true" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" userInstalled="true" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" userInstalled="true" />
  <package id="FluentValidation" version="4.0.0.1" targetFramework="net45" userInstalled="true" />
  <package id="FluentValidation.MVC4" version="4.0.0.1" targetFramework="net45" userInstalled="true" />
</packages>