/*
 * Author   :蔡应
 * Time		:2013年11月28日10:09:16
 * Abstract	:上海欢乐谷微信游戏——魔幻雪花
 */

/*Reset*/
body,div,p,h1,h2,h3,h4,ul,li,ol { margin:0; padding:0; }
ul , li { list-style:none; }
a {text-decoration:none;}
img { border:none; }
body { font-size:1em; background:#1e1a1a ;  }
.btn { background-image:url(/images/Activity/Fruit/icon_spirit.png) ; background-size:200px auto; background-repeat:no-repeat;  color:#fff;}
.repeatBg{ background-image:url(/images/Activity/Fruit/bg_spirit.png) ; background-size:12px auto; background-repeat:repeat-x;}

/*首页*/
#index .wrap { position:relative; width:100%; height:410px; background:#1e1a1a url(/images/Activity/Fruit/bg_01.jpg) no-repeat top center; background-size: 100% auto; }
#index .bg { display:block; position:absolute; top:0 ; left:0; z-index:-1;  width:100%; height:410px; }
#logo {display:block; padding-top:10px; margin:0 auto; width:284px; height:auto; }
#logo img { width:100%; height:auto; }
#index .btnList { position:fixed; top:200px; left:50%; margin-left:-66px;  width:132px; height:192px; background-position:0px 0px; }
#index .btnList li { height:64px; }
#index .btnList li a{ display:block; height:64px; font:bold 1em/44px "微软雅黑"; color:#fff; }
.openPark { margin:0 auto; margin-top:-10px; width:270px; height:27px; background:url(../images/openPark.png) ;background-size: 100% auto;   }

/*游戏规则*/
#rule {  position:fixed; top:-400px; opacity:0; left:5%; width:90%; height:auto; overflow:hidden; background:#fff; border-radius:14px; box-shadow:0 0 10px #000; border:solid 3px #935b1e; }
#rule h2 { height:34px; background:url(/images/Activity/Fruit/titleBg02.jpg) no-repeat top center; background-size:auto 34px; font:bold 1.1em/34px "微软雅黑"; border-radius: 14px 14px 0px 0px; color:#fff; text-align:center; }
#rule .info { width:90%; margin:20px auto; color:#5c5f5c; font:normal 0.8em/20px "微软雅黑";  }
#rule .info span { color:#a40000; }
#rule .info p { margin-bottom:10px; }
#ruleClose { cursor:pointer; position:absolute; top:0px; left:2px; width:35px; height:35px; background:url(/images/Activity/Fruit/icon_spirit.png) no-repeat -150px -11px; background-size:202px auto; }

#transverse {  position:absolute; z-index:9999; top:0; left:0; width:100%; height:100%; background:rgba( 0 , 0 , 0 , 0.8) url(/images/Activity/Fruit/transvers.png) no-repeat center center; background-size:50% auto; }
@media all and (orientation : landscape) {  
	#transverse { display:block; }
}  

@media all and (orientation : portrait){  
	#transverse { display:none; }
} 


/*游戏*/
.gameInfo { position:relative; height:40px; background:url(/images/Activity/Fruit/titleBg01.jpg); background-size:320px auto; }
.gameInfo div { position:absolute; top:4px; height:35px; font:bold 1.4em/34px "Arial";color:#fff; }
#count { left:10px; padding-left:40px; width:80px;  background:url(/images/Activity/Fruit/icon_spirit.png) no-repeat -150px -94px; background-size:202px auto;  }
#time { right:55px; }
#pause { cursor:pointer; right:8px; width:35px; height:35px; background:url(/images/Activity/Fruit/icon_spirit.png) no-repeat -46px 0px; background-size:150px auto;  }
#snowBox { position:relative; width:100%; overflow:hidden;height:370px; background:#1e1a1a  url(/images/Activity/Fruit/game_bg.jpg) no-repeat center -30px; background-size:100% auto; }
#snowBox li { position:absolute; top:-100px;  background:url(/images/Activity/Fruit/fruit_01.png) no-repeat 0 0; background-size: 100% auto; text-align:center; color:#fff; font:bold 1em/20px "Arial"; }
#snowBox li.li01 { background-image:url(/images/Activity/Fruit/fruit_01.png) ;}
#snowBox li.li02 { background-image:url(/images/Activity/Fruit/fruit_02.png) ;}
#snowBox li.li03 { background-image:url(/images/Activity/Fruit/fruit_03.png) ;}
#snowBox li.li04 { background-image:url(/images/Activity/Fruit/fruit_04.png) ;}
#snowBox li span { display:none;  position:absolute; width:100%; height:100%; background:url(/images/Activity/Fruit/knife.png) no-repeat center center; background-size:100% auto;  }

@-webkit-keyframes 'fontChange' {
  0% {
	opacity:1;
  }
  50% {
	opacity:0.5; 
  }
  100% {
	opacity:0;
  }
}
#snowBox li.active { 
	  -webkit-animation-name: 'fontChange'; /*动画名称*/
	  -webkit-animation-duration: 1s;/*播放一次所持续时间*/
	  -webkit-animation-timing-function: ease-in-out;/*动画播放频率*/
	  -webkit-animation-iteration-count: 1;/*动画播放次涒为无限次*/
	opacity:0;
}
@-webkit-keyframes 'dis' {
  0% {
	opacity:100;
  }
  50% {
	opactiy:50; 
  }
  100% {
	opacity:0;
  }
}
#snowBox li.disImg { 
	-webkit-animation-name: 'dis'; /*动画名称*/
	  -webkit-animation-duration: 2s;/*播放一次所持续时间*/
	  -webkit-animation-timing-function: ease-in-out;/*动画播放频率*/
	  -webkit-animation-iteration-count: 1;/*动画播放次涒为无限次*/
	opacity:0;
	display:none;
}


#ruleClose { cursor:pointer; position:absolute; top:0px; left:2px; width:35px; height:35px; background:url(/images/Activity/Fruit/icon_spirit.png) no-repeat -150px -11px; background-size:202px auto; }



#gameOver {  position:fixed; top:-400px; opacity:0; left:5%; width:90%; height:auto; overflow:hidden; background:#fff; border-radius:14px;  box-shadow:0 0 10px #000;  border:solid 3px #935b1e; }
#gameOver h2 { height:34px; background:url(/images/Activity/Fruit/titleBg02.jpg) no-repeat top center; background-size:auto 34px; font:bold 1.1em/34px "微软雅黑"; color:#fff; text-align:center;  border-radius: 14px 14px 0px 0px ; }
#totalP { padding-top:10px; text-align:center; height:40px; font:bold 2em/36px "微软雅黑" ; color:#70961d; }
#gameOver p { padding-bottom:10px; text-align:center; height:16px; font:bold 0.8em/16px "微软雅黑" ; color:#c75a66; }
.btnWrap { height:46px; width:220px; margin:0 auto; }
#continue { display:block; margin-top:6px; float:left; width:100px; height:34px; text-align:center;background:url(/images/Activity/Fruit/icon_spirit.png) no-repeat 0px -257px; background-size:202px auto;     font:bold 1em/30px "微软雅黑"; color:#fff;  margin-right:20px;  }
#submit { display:block; margin-top:6px; float:left; width:100px; height:34px; text-align:center;background:url(/images/Activity/Fruit/icon_spirit.png) no-repeat 0px -209px; background-size:202px auto;    font:bold 1em/30px "微软雅黑"; color:#fff;  }


#submitInfo {  position:fixed; top:-400px; opacity:0; left:5%; width:90%; height:auto; overflow:hidden; background:#fff; border-radius:14px;  box-shadow:0 0 10px #000; border:solid 3px #935b1e;}
#submitInfo h2 { height:34px; background:url(/images/Activity/Fruit/titleBg02.jpg) no-repeat top center; background-size:auto 34px; font:bold 1.1em/34px "微软雅黑"; color:#fff; text-align:center; border-radius: 14px 14px 0px 0px;  }
#submitInfo p { padding-bottom:10px; text-align:center; height:16px; font:bold 0.8em/16px "微软雅黑" ; color:#004e77; }
#yes{ display:block;   margin-top:6px; float:left; float:left; width:100px; height:34px; text-align:center; background:url(/images/Activity/Fruit/icon_spirit.png) no-repeat -101px -209px; background-size:202px auto;    font:bold 1em/30px "微软雅黑"; color:#fff;  margin-right:20px;  }
#no { display:block; margin-top:6px; float:left; width:100px; height:34px; text-align:center; background:url(/images/Activity/Fruit/icon_spirit.png) no-repeat -103px -257px; background-size:202px auto;  font:bold 1em/30px "微软雅黑"; color:#fff;   }
.userInfo {  height:100px; width:220px; margin:0 auto; font:normal 1em/30px "微软雅黑";  color:#666966;  }
.userInfo input { width:140px; border:1px solid #666966; border-radius:4px; padding:2px 4px;}


#giftBox {  position:fixed; top:-400px; opacity:0;  left:5%; width:90%; height:auto; overflow:hidden; background:#f3f3f3; border-radius:14px;  box-shadow:0 0 10px #000; border:solid 3px #935b1e;}
#giftBox h2 { height:34px;background:url(/images/Activity/Fruit/titleBg02.jpg) no-repeat top center; background-size:auto 34px; font:bold 1.1em/34px "微软雅黑"; color:#fff; text-align:center; border-radius: 14px 14px 0px 0px;  }
#giftBox p { padding-bottom:10px; text-align:center; height:16px; font:bold 0.8em/16px "微软雅黑" ; color:#c75d6a; }
#giftBox img { display:block; margin: 10px auto; width:140px; height:auto; }
#sure{ display:block; margin:10px auto;  width:100px; height:34px; text-align:center; background:url(/images/Activity/Fruit/icon_spirit.png) no-repeat -101px -209px; background-size:202px auto;   font:bold 1em/30px "微软雅黑"; color:#fff;   }


/*排名*/
.rankTitle { position:fixed; top:0px; left:0px; width:100%; height:40px;  background:url(/images/Activity/Fruit/titleBg01.jpg); background-size:320px auto; font:bold 1.2em/36px "微软雅黑"; color:#fff; text-align:center; }
#rankList {  width:100%;  margin-top:40px; overflow:hidden; }
#rankList li { border-top:1px solid #d7a600; height:36px; background:url(/images/Activity/Fruit/rank_bg.png) repeat-x ; background-size: 8px 36px; color:#734121; font:normal 1em/36px "微软雅黑"; }
#rankList span { font:bold 1.2em/36px "Arial"; display:block;  }
#rankList span.ranking { float:left; width:30px; padding-left:10px; }
#rankList span.count { float:right; width:80px; padding-right:10px; }
#rankList li img { display:block; float:left;  width:30px; margin-top:3px; margin-right:8px;   height:auto; }
#rankList li.li1 { color:#f39800; }
#rankList li.li2 { color:#8fc31f; }
#rankList li.li3 { color:#00b7ee; }
 .wrap01{ background:#960000;  position:fixed; bottom:54px; height:20px; margin:0 auto; width:100%;   }
 .wrap02{ background:#fff;  position:fixed; bottom:8px; margin:0 auto; width:100%;   }
 .rankBtn { height:46px; width:220px; margin:0 auto;  }
 .rankBtn a { display:block; margin-top:6px; float:left; width:100px; height:30px; text-align:center;  font:bold 1em/30px "微软雅黑"; }
 .rankBtn a.a1 { background-position: 0px -49px;  margin-right:20px;  }
 .rankBtn a.a2 { background-position: 0px -97px;  }
.rankFix { position:fixed; bottom:0px; width:100%;  }
