<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apworks" version="2.5.4878.35266" targetFramework="net45" userInstalled="true" />
  <package id="Apworks.Repositories.EntityFramework" version="2.5.4878.35266" targetFramework="net45" userInstalled="true" />
  <package id="AttributeRouting" version="3.5.6" targetFramework="net45" userInstalled="true" />
  <package id="AttributeRouting.Core" version="3.5.6" targetFramework="net45" userInstalled="true" />
  <package id="AttributeRouting.Core.Web" version="3.5.6" targetFramework="net45" userInstalled="true" />
  <package id="AutoMapper" version="2.2.1" targetFramework="net45" userInstalled="true" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Clutch" version="1.0.4794.26126" targetFramework="net45" userInstalled="true" />
  <package id="Clutch.Diagnostics.EntityFramework" version="1.0.4845.23385" targetFramework="net45" userInstalled="true" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" userInstalled="true" />
  <package id="DotNetOpenAuth.AspNet" version="4.1.4.12333" targetFramework="net45" userInstalled="true" />
  <package id="DotNetOpenAuth.Core" version="4.1.4.12333" targetFramework="net45" userInstalled="true" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.1.4.12333" targetFramework="net45" userInstalled="true" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.1.4.12333" targetFramework="net45" userInstalled="true" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.1.4.12333" targetFramework="net45" userInstalled="true" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.1.4.12333" targetFramework="net45" userInstalled="true" />
  <package id="elmah" version="1.2.2" targetFramework="net45" userInstalled="true" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" userInstalled="true" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" userInstalled="true" />
  <package id="EntityFramework.zh-Hans" version="5.0.0" targetFramework="net45" userInstalled="true" />
  <package id="FluentValidation" version="4.0.0.1" targetFramework="net45" userInstalled="true" />
  <package id="FluentValidation.MVC4" version="4.0.0.1" targetFramework="net45" userInstalled="true" />
  <package id="jQuery" version="1.8.2" targetFramework="net45" userInstalled="true" />
  <package id="jQuery.UI.Combined" version="1.8.24" targetFramework="net45" userInstalled="true" />
  <package id="jQuery.Validation" version="1.10.0" targetFramework="net45" userInstalled="true" />
  <package id="knockoutjs" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="MessagingToolkit.QRCode" version="1.3.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Mvc.zh-Hans" version="4.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor.zh-Hans" version="2.0.20715.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR.Core.zh-Hans" version="2.1.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.zh-Hans" version="2.1.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR.zh-Hans" version="2.1.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Web.Optimization.zh-Hans" version="1.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Client.zh-Hans" version="4.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Core.zh-Hans" version="4.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.OData" version="4.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.OData.zh-Hans" version="4.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.WebHost.zh-Hans" version="4.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebPages.Data" version="2.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebPages.Data.zh-Hans" version="2.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebPages.OAuth" version="2.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebPages.OAuth.zh-Hans" version="2.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="2.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebPages.WebData.zh-Hans" version="2.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebPages.zh-Hans" version="2.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="2.0.30116.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.30116.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Net.Http.zh-Hans" version="2.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Host.SystemWeb.zh-Hans" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Security.zh-Hans" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.zh-Hans" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" userInstalled="true" />
  <package id="MiniProfiler" version="2.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Modernizr" version="2.6.2" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" userInstalled="true" />
  <package id="QrCode.Net" version="0.4.0.0" targetFramework="net45" userInstalled="true" />
  <package id="routedebugger" version="2.1.4.0" targetFramework="net45" userInstalled="true" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Unity" version="2.1.505.2" targetFramework="net45" userInstalled="true" />
  <package id="Unity.Mvc4" version="1.1.0.0" targetFramework="net45" userInstalled="true" />
  <package id="WebActivator" version="1.0.0.0" targetFramework="net45" userInstalled="true" />
  <package id="WebGrease" version="1.3.0" targetFramework="net45" userInstalled="true" />
</packages>