<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apworks" version="2.5.4878.35266" targetFramework="net45" />
  <package id="Apworks.ObjectContainers.Unity" version="2.5.4878.35266" targetFramework="net45" />
  <package id="Apworks.Repositories.EntityFramework" version="2.5.4878.35266" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Unity" version="2.1.505.2" targetFramework="net45" />
</packages>