@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="/js/kindeditor-4.1.7/plugins/code/prettify.css" />
    <script charset="utf-8" src="/js/kindeditor-4.1.7/plugins/code/prettify.js"></script>
    <script charset="utf-8" src="/js/kindeditor-4.1.7/kindeditor.js"></script>
    <script charset="utf-8" src="/js/kindeditor-4.1.7/lang/zh_CN.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Panel Template">
    <meta name="author" content="Westilian: Kamrujaman Shohel">
    <!-- styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jquery.gritter.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link href="/css/tablecloth.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=ResponseImageText]").click(function () {
                var datas = [];
                $("[type=checkbox]").each(function () {
                    if ($(this).prop("checked")) {
                        var ResponseImageTextID = $(this).val();
                        var ResponseImagePicUrl = "";
                        if ($(this).parent().parent().find("img").attr("src")) {
                            ResponseImagePicUrl = $(this).parent().parent().find("img").attr("src").trim();
                        }
                        var ResponseImageAddTime = $(this).parent().parent().find(".ImageAddTime").html().trim();
                        var ResponseImageTextName = $(this).parent().parent().find(".ImageTextName").html().trim();
                        //构造一个对象
                        var dataItem = { ResponseImageTextID: ResponseImageTextID, ResponseImagePicUrl: ResponseImagePicUrl, ResponseImageAddTime: ResponseImageAddTime, ResponseImageTextName: ResponseImageTextName };
                        //使用splice来插入数组,第二个参数固定为0,第一个参数是起始位置,第三个参数是要插入的项
                        datas.splice(datas.length, 0, dataItem);
                    }
                });
                //使用JSON来转化对象为字符串
                $("#ResponseImageData").val(JSON.stringify(datas));
            });
        });
    </script>
</head>
<body>
    @model List<EasyWeixin.Model.ResponseImageText>
    <div class="row-fluid">
        <input type="hidden" value="" id="ResponseImageData" />
        <div class="span12">
            <div class="content-widgets light-gray">
                <div class="widget-head bondi-blue">
                    <h3>图文列表</h3>
                </div>
                <div class="widget-container">

                    <table class="table table-hover responsive">
                        <thead>
                            <tr>
                                <th>选择
                                </th>

                                <th>名称
                                </th>
                                <th>添加时间
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{foreach (var item in Model)
                              {
                                <tr>
                                    <td>
                                        <input type="checkbox" value="@item.ResponseImageTextID" name="ResponseImageText" />
                                    </td>
                                    <td style="height: 100px; width: 180px">
                                        <img src="@item.PicUrl" style="height: 100px;width: 180px" />
                                    </td>
                                    <td class="ImageTextName">
                                        @item.ImageTextName
                                    </td>
                                    <td class="ImageAddTime">
                                        @item.AddTime
                                    </td>
                                </tr>
                              }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>